@model StudentAffairs.Models.CreateView

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="std.StudentId" />
            <input type="hidden" asp-for="father.ParentId" />
            <input type="hidden" asp-for="mother.ParentId" />
            <div class="form-group">
                <label asp-for="std.StudentBranch" class="control-label"></label>
                <select asp-for="std.StudentBranch" class="form-control" asp-items="ViewBag.StudentBranch"></select>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentGrade" class="control-label"></label>
                <select asp-for="std.StudentGrade" class="form-control" asp-items="ViewBag.StudentGrade"></select>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentClass" class="control-label"></label>
                <select asp-for="std.StudentClass" class="form-control" asp-items="ViewBag.StudentClass"></select>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentCode" class="control-label"></label>
                <input asp-for="std.StudentCode" class="form-control" />
                <span asp-validation-for="std.StudentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentNid" class="control-label"></label>
                <input asp-for="std.StudentNid" class="form-control" />
                <span asp-validation-for="std.StudentNid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentNat" class="control-label"></label>
                <select asp-for="std.StudentNat" class="form-control" asp-items="ViewBag.StudentNat"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="std.JoinYear" class="control-label"></label>
                <input asp-for="std.JoinYear" class="form-control" />
                <span asp-validation-for="std.JoinYear" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="std.StaffSon" /> @Html.DisplayNameFor(model => model.std.StaffSon)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="std.Guardian" class="control-label"></label>
                <select asp-for="std.Guardian" class="form-control" asp-items="ViewBag.Guardian"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="std.ParentsSeparated" /> @Html.DisplayNameFor(model => model.std.ParentsSeparated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="std.SchoolAbrev" class="control-label"></label>
                <input asp-for="std.SchoolAbrev" class="form-control" />
                <span asp-validation-for="std.SchoolAbrev" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="std.StudentUpdate" /> @Html.DisplayNameFor(model => model.std.StudentUpdate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentArabicFName" class="control-label"></label>
                <input asp-for="std.StudentArabicFName" class="form-control" />
                <span asp-validation-for="std.StudentArabicFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentArabicMName" class="control-label"></label>
                <input asp-for="std.StudentArabicMName" class="form-control" />
                <span asp-validation-for="std.StudentArabicMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentArabicLName" class="control-label"></label>
                <input asp-for="std.StudentArabicLName" class="form-control" />
                <span asp-validation-for="std.StudentArabicLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentArabicFmName" class="control-label"></label>
                <input asp-for="std.StudentArabicFmName" class="form-control" />
                <span asp-validation-for="std.StudentArabicFmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentEnglishFName" class="control-label"></label>
                <input asp-for="std.StudentEnglishFName" class="form-control" />
                <span asp-validation-for="std.StudentEnglishFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentEnglishMName" class="control-label"></label>
                <input asp-for="std.StudentEnglishMName" class="form-control" />
                <span asp-validation-for="std.StudentEnglishMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentEnglishLName" class="control-label"></label>
                <input asp-for="std.StudentEnglishLName" class="form-control" />
                <span asp-validation-for="std.StudentEnglishLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentEnglishFmName" class="control-label"></label>
                <input asp-for="std.StudentEnglishFmName" class="form-control" />
                <span asp-validation-for="std.StudentEnglishFmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.Dob" class="control-label"></label>
                <input asp-for="std.Dob" class="form-control" />
                <span asp-validation-for="std.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.BirthPlace" class="control-label"></label>
                <input asp-for="std.BirthPlace" class="form-control" />
                <span asp-validation-for="std.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentStatus" class="control-label"></label>
                <select asp-for="std.StudentStatus" class="form-control" asp-items="ViewBag.StudentStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="std.Gender" class="control-label"></label>
                @{
                     List<SelectListItem> choices  = new List<SelectListItem>
        {
            new SelectListItem { Value = "0", Text = "Male" },
            new SelectListItem { Value = "1", Text = "Female" },
            
        };
                   
                }
                <select asp-for="std.Gender" class="form-control" asp-items=choices></select>
                
            </div>
            
            <div class="form-group">
                <label asp-for="std.Religon" class="control-label"></label>
                <select asp-for="std.Religon" class="form-control" asp-items="ViewBag.Religon"></select>
            </div>
            <div class="form-group">
                <label asp-for="std.City" class="control-label"></label>
                <select asp-for="std.City" class="form-control" asp-items="ViewBag.City"></select>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentAddress" class="control-label"></label>
                <input asp-for="std.StudentAddress" class="form-control" />
                <span asp-validation-for="std.StudentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentEmail" class="control-label"></label>
                <input asp-for="std.StudentEmail" class="form-control" />
                <span asp-validation-for="std.StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentPassword" class="control-label"></label>
                <input asp-for="std.StudentPassword" class="form-control" />
                <span asp-validation-for="std.StudentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentAffairs1" class="control-label"></label>
                <input asp-for="std.StudentAffairs1" class="form-control" />
                <span asp-validation-for="std.StudentAffairs1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentAffairs2" class="control-label"></label>
                <input asp-for="std.StudentAffairs2" class="form-control" />
                <span asp-validation-for="std.StudentAffairs2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.BirthCode" class="control-label"></label>
                <input asp-for="std.BirthCode" class="form-control" />
                <span asp-validation-for="std.BirthCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.StudentGov" class="control-label"></label>
                <select asp-for="std.StudentGov" class="form-control" asp-items="ViewBag.StudentGov"></select>
            </div>
            <div class="form-group">
                <label asp-for="std.EmergencyContact" class="control-label"></label>
                <input asp-for="std.EmergencyContact" class="form-control" />
                <span asp-validation-for="std.EmergencyContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="std.EmergencyPhone" class="control-label"></label>
                <input asp-for="std.EmergencyPhone" class="form-control" />
                <span asp-validation-for="std.EmergencyPhone" class="text-danger"></span>
            </div>
            <hr />
            <h1>Father</h1>
            <input type="hidden" asp-for="father.ParentType" value="0" />
                
            
            
            <div class="form-group">
                <label asp-for="father.ParentEnglishName" class="control-label"></label>
                <input asp-for="father.ParentEnglishName" class="form-control" />
                <span asp-validation-for="father.ParentEnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentArabicName" class="control-label"></label>
                <input asp-for="father.ParentArabicName" class="form-control" />
                <span asp-validation-for="father.ParentArabicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentNid" class="control-label"></label>
                <input asp-for="father.ParentNid" class="form-control" />
                <span asp-validation-for="father.ParentNid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentMobilephone" class="control-label"></label>
                <input asp-for="father.ParentMobilephone" class="form-control" />
                <span asp-validation-for="father.ParentMobilephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentEmail" class="control-label"></label>
                <input asp-for="father.ParentEmail" class="form-control" />
                <span asp-validation-for="father.ParentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentJob" class="control-label"></label>
                <input asp-for="father.ParentJob" class="form-control" />
                <span asp-validation-for="father.ParentJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentQualification" class="control-label"></label>
                <input asp-for="father.ParentQualification" class="form-control" />
                <span asp-validation-for="father.ParentQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentLanguage" class="control-label"></label>
                <select asp-for="father.ParentLanguage" class ="form-control" asp-items="ViewBag.ParentLanguage"></select>
            </div>
            <div class="form-group">
                <label asp-for="father.ParentNationality" class="control-label"></label>
                <select asp-for="father.ParentNationality" class ="form-control" asp-items="ViewBag.ParentNationality"></select>
            </div>
            <hr />
            <h1>Mother</h1>
            <input type="hidden" asp-for="mother.ParentType" value="1" />
                
            
            
            <div class="form-group">
                <label asp-for="mother.ParentEnglishName" class="control-label"></label>
                <input asp-for="mother.ParentEnglishName" class="form-control" />
                <span asp-validation-for="mother.ParentEnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentArabicName" class="control-label"></label>
                <input asp-for="mother.ParentArabicName" class="form-control" />
                <span asp-validation-for="mother.ParentArabicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentNid" class="control-label"></label>
                <input asp-for="mother.ParentNid" class="form-control" />
                <span asp-validation-for="mother.ParentNid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentMobilephone" class="control-label"></label>
                <input asp-for="mother.ParentMobilephone" class="form-control" />
                <span asp-validation-for="mother.ParentMobilephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentEmail" class="control-label"></label>
                <input asp-for="mother.ParentEmail" class="form-control" />
                <span asp-validation-for="mother.ParentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentJob" class="control-label"></label>
                <input asp-for="mother.ParentJob" class="form-control" />
                <span asp-validation-for="mother.ParentJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentQualification" class="control-label"></label>
                <input asp-for="mother.ParentQualification" class="form-control" />
                <span asp-validation-for="mother.ParentQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentLanguage" class="control-label"></label>
                <select asp-for="mother.ParentLanguage" class ="form-control" asp-items="ViewBag.ParentLanguage"></select>
            </div>
            <div class="form-group">
                <label asp-for="mother.ParentNationality" class="control-label"></label>
                <select asp-for="mother.ParentNationality" class ="form-control" asp-items="ViewBag.ParentNationality"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
