@model StudentAffairs.Models.Student

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="StudentBranch" class="control-label"></label>
                <select asp-for="StudentBranch" class="form-control" asp-items="ViewBag.StudentBranch"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentGrade" class="control-label"></label>
                <select asp-for="StudentGrade" class="form-control" asp-items="ViewBag.StudentGrade"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentClass" class="control-label"></label>
                <select asp-for="StudentClass" class="form-control" asp-items="ViewBag.StudentClass"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentCode" class="control-label"></label>
                <input asp-for="StudentCode" class="form-control" />
                <span asp-validation-for="StudentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentNid" class="control-label"></label>
                <input asp-for="StudentNid" class="form-control" />
                <span asp-validation-for="StudentNid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentNat" class="control-label"></label>
                <select asp-for="StudentNat" class="form-control" asp-items="ViewBag.StudentNat"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="JoinYear" class="control-label"></label>
                <input asp-for="JoinYear" class="form-control" />
                <span asp-validation-for="JoinYear" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StaffSon" /> @Html.DisplayNameFor(model => model.StaffSon)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Guardian" class="control-label"></label>
                <select asp-for="Guardian" class="form-control" asp-items="ViewBag.Guardian"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ParentsSeparated" /> @Html.DisplayNameFor(model => model.ParentsSeparated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SchoolAbrev" class="control-label"></label>
                <input asp-for="SchoolAbrev" class="form-control" />
                <span asp-validation-for="SchoolAbrev" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StudentUpdate" /> @Html.DisplayNameFor(model => model.StudentUpdate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StudentArabicFName" class="control-label"></label>
                <input asp-for="StudentArabicFName" class="form-control" />
                <span asp-validation-for="StudentArabicFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentArabicMName" class="control-label"></label>
                <input asp-for="StudentArabicMName" class="form-control" />
                <span asp-validation-for="StudentArabicMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentArabicLName" class="control-label"></label>
                <input asp-for="StudentArabicLName" class="form-control" />
                <span asp-validation-for="StudentArabicLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentArabicFmName" class="control-label"></label>
                <input asp-for="StudentArabicFmName" class="form-control" />
                <span asp-validation-for="StudentArabicFmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEnglishFName" class="control-label"></label>
                <input asp-for="StudentEnglishFName" class="form-control" />
                <span asp-validation-for="StudentEnglishFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEnglishMName" class="control-label"></label>
                <input asp-for="StudentEnglishMName" class="form-control" />
                <span asp-validation-for="StudentEnglishMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEnglishLName" class="control-label"></label>
                <input asp-for="StudentEnglishLName" class="form-control" />
                <span asp-validation-for="StudentEnglishLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEnglishFmName" class="control-label"></label>
                <input asp-for="StudentEnglishFmName" class="form-control" />
                <span asp-validation-for="StudentEnglishFmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthPlace" class="control-label"></label>
                <input asp-for="BirthPlace" class="form-control" />
                <span asp-validation-for="BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentStatus" class="control-label"></label>
                <select asp-for="StudentStatus" class="form-control" asp-items="ViewBag.StudentStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @{
                     List<SelectListItem> choices  = new List<SelectListItem>
        {
            new SelectListItem { Value = "0", Text = "Male" },
            new SelectListItem { Value = "1", Text = "Female" },
            
        };
                   
                }
                <select asp-for="Gender" class="form-control" asp-items=choices></select>
                
            </div>
            
            <div class="form-group">
                <label asp-for="Religon" class="control-label"></label>
                <select asp-for="Religon" class="form-control" asp-items="ViewBag.Religon"></select>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" class="form-control" asp-items="ViewBag.City"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentAddress" class="control-label"></label>
                <input asp-for="StudentAddress" class="form-control" />
                <span asp-validation-for="StudentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPassword" class="control-label"></label>
                <input asp-for="StudentPassword" class="form-control" />
                <span asp-validation-for="StudentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAffairs1" class="control-label"></label>
                <input asp-for="StudentAffairs1" class="form-control" />
                <span asp-validation-for="StudentAffairs1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAffairs2" class="control-label"></label>
                <input asp-for="StudentAffairs2" class="form-control" />
                <span asp-validation-for="StudentAffairs2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthCode" class="control-label"></label>
                <input asp-for="BirthCode" class="form-control" />
                <span asp-validation-for="BirthCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGov" class="control-label"></label>
                <select asp-for="StudentGov" class="form-control" asp-items="ViewBag.StudentGov"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact" class="control-label"></label>
                <input asp-for="EmergencyContact" class="form-control" />
                <span asp-validation-for="EmergencyContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyPhone" class="control-label"></label>
                <input asp-for="EmergencyPhone" class="form-control" />
                <span asp-validation-for="EmergencyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
